DB_HOST=db
DB_NAME=kegger
DB_PASSWORD=docker
DB_PORT=5432
DB_USERNAME=postgres
JWT_SECRET=SUP3R S3CR3T SH1T!
SENDGRID_API_KEY=KEY
RUN_MIGRATIONS=false # run db migrations on init. for docker you probably want to set this to false

VUE_APP_API_SERVER=http://127.0.0.1:4040
VUE_APP_EMAIL_FROM_NAME=Kegger
VUE_APP_EMAIL_FROM=kegger@kegger-rsvp.io
VUE_APP_EMAIL_SUBJECT=You've been invited to Kegger's Bash!

# these two variables are for debugging purposes - you don't want to send test emails to your guests, do you?
VUE_APP_EMAIL_TO=keggeradmin@kegger-rsvp.io
VUE_APP_EMAIL_TO_NAME=Kegger Master
